@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');





/* Change the fonts here! */
body {
  width: 75%;
  margin: auto;
  background-color: rgb(32, 42, 68);
}

h1 {
	font-family:Baskervville;
	font-size: 36px;
	color: white;

}

h2 {
	font-family: Baskervville;
	color: #C0C0C0;
	font-size:20px;
}

p {
	font-family: Baskervville;
	color: #C0C0C0;
	font-size:10px;

}

p, a, li {
	font-family: Baskervville;
	font-size: 20px;
	color: rgb(255,255,255);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gray;
  color: white;
}
table {
  font-family: Baskervville;
  border-collapse: collapse;
  width: 75%;
  color: rgb(255,255,255);
  font-weight: normal;
  font-size: 17px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
font-size: 17px;
}
























